<app-form-wrapper-component [title]="isEdit ? 'Edit Role' : 'Add Role'">

<form [formGroup]="form" (ngSubmit)="saveRole()">



  <!-- Name -->
  <div class="mb-3">
    <label>Name</label>

    <input type="text" class="form-control" formControlName="name">

    <app-validation-error-component
      [control]="form.get('name')">
    </app-validation-error-component>
  </div>



  <!-- Buttons -->
  <div class="d-flex justify-content-between">

    <button type="button" class="btn btn-light"
      (click)="router.navigate(['/admin/roles'])">
      Cancel
    </button>


     <app-submit-button-component
       type="submit"
       class="btn btn-primary"
      [loading]="loading"
      [text]="isEdit ? 'Update' : 'Save'">
     </app-submit-button-component>


  </div>

</form>
</app-form-wrapper-component>
