<!-- Hero Banner -->
<app-hero-slider></app-hero-slider>
<div
  *ngIf="loading"
  class="text-center py-5">

  <div class="spinner-border"></div>

</div>
<section class="container py-5">

  <div
    class="d-flex justify-content-between align-items-center mb-4">

    <h2 class="fw-bold">
      Shop By Categories
    </h2>

    <a
      routerLink="/shop"
      class="btn btn-outline-dark rounded-pill px-4">

      View All

    </a>

  </div>

  <!-- Categories -->

  <div
    class="category-wrapper mb-4"
    *ngFor="let category of categories">

    <!-- Category Header -->

    <div class="d-flex align-items-center mb-3">

      <div class="category-dot"></div>

      <h4 class="fw-bold mb-0 ms-2">
        {{ category.name }}
      </h4>

    </div>

    <!-- Subcategories -->

    <div class="subcategory-scroll">

      <div
        class="subcategory-card"
        *ngFor="let sub of category.subCategories"

        [routerLink]="['/shop']"

        [queryParams]="{
          categoryId: category.id,
          subCategoryId: sub.id
        }">

        <div class="subcategory-content">

          <h6 class="fw-bold mb-1">
            {{ sub.name }}
          </h6>

          <small class="text-muted">
            Explore Products
          </small>

        </div>

      </div>

    </div>

  </div>

</section>
<!-- Featured Products -->
<section class="container mt-5">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Featured Products</h2>
    <a href="#" class="btn btn-outline-dark">View All</a>
  </div>

  <div class="row">

    <div class="col-md-3 mb-4" *ngFor="let product of featuredProducts">

      <app-product-card
        [product]="product">
      </app-product-card>

    </div>

  </div>

</section>

<!-- Latest Products -->
<section class="container mt-5">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Latest Products</h2>
  </div>

  <div class="row">

    <div class="col-md-3 mb-4" *ngFor="let product of latestProducts">

      <app-product-card
        [product]="product">
      </app-product-card>

    </div>

  </div>

</section>

<!-- Brands -->
<section class="container mt-5">

  <h2 class="mb-4">Top Brands</h2>

  <div class="row">

    <div class="col-md-3 mb-4" *ngFor="let brand of brands">

      <app-brand-slider
        [brand]="brand">
      </app-brand-slider>

    </div>

  </div>

</section>


<!-- Offer Banner -->
<section class="container mt-5">

  <div class="bg-dark text-white p-5 rounded text-center">

    <h2>Big Summer Sale</h2>

    <p>Up To 50% OFF</p>

    <button class="btn btn-warning">
      Shop Now
    </button>

  </div>

</section>

<!-- Newsletter -->
<section class="mt-5">
  <app-newsletter></app-newsletter>
</section>
