<div id="heroSlider"
     class="carousel slide carousel-fade"
     data-bs-ride="carousel">

  <div class="carousel-inner">

    <div
      class="carousel-item active position-relative">

      <img
        src="https://images.unsplash.com/photo-1523275335684-37898b6baf30"
        class="d-block w-100 slider-img">

      <div class="overlay"></div>

      <div
        class="carousel-caption text-start">

        <h1 class="display-3 fw-bold">
          Big Summer Sale
        </h1>

        <p class="lead">
          Up To 50% OFF On Products
        </p>

        <button class="btn btn-warning btn-lg">
          Shop Now
        </button>

      </div>

    </div>

  </div>

</div>