
   <app-form-wrapper-component [title]="isEdit ? 'Edit Category' : 'Add Category'">

    <form [formGroup]="form" (ngSubmit)="saveCategory()">

   <!-- Name -->
  <div class="mb-3">
    <label>Name</label>

    <input type="text" class="form-control" formControlName="name">

    <app-validation-error-component
      [control]="form.get('name')">
    </app-validation-error-component>
  </div>

  <!-- Description -->
  <div class="mb-3">
    <label>Description</label>
    <input type="text" class="form-control" formControlName="description">
  </div>

      <div class="d-flex justify-content-between">

        <button type="button"
                class="btn btn-light"
                (click)="router.navigate(['/admin/categories'])">
          Cancel
        </button>

      <app-submit-button-component
       type="submit"
       class="btn btn-primary"
      [loading]="loading"
      [text]="isEdit ? 'Update' : 'Save'">
     </app-submit-button-component>

      </div>

    </form>
</app-form-wrapper-component>


