.filter-scroll {

  max-height: 250px;

  overflow-y: auto;

  padding-right: 5px;

}

.filter-scroll::-webkit-scrollbar {

  width: 6px;

}

.filter-scroll::-webkit-scrollbar-thumb {

  background: #cbd5e1;

  border-radius: 10px;

}
