.admin-layout {

  display: flex;

  min-height: 100vh;

  background: #f1f5f9;

}

.admin-content {

  margin-left: 280px;

  width: calc(100% - 280px);

  display: flex;

  flex-direction: column;

  transition: 0.3s;

}

.page-content {

  padding: 20px;

  flex: 1;

}
