<footer class="bg-dark text-white pt-5 pb-3 mt-5">

  <div class="container">

    <div class="row">

      <div class="col-md-4">
        <h4>MyStore</h4>
        <p>Best ecommerce website for shopping.</p>
      </div>

      <div class="col-md-4">
        <h5>Quick Links</h5>

        <ul class="list-unstyled">

          <li><a href="#" class="text-white">Home</a></li>
          <li><a href="#" class="text-white">Shop</a></li>
          <li><a href="#" class="text-white">Contact</a></li>

        </ul>
      </div>

      <div class="col-md-4">
        <h5>Support</h5>

        <ul class="list-unstyled">

          <li><a href="#" class="text-white">Privacy Policy</a></li>
          <li><a href="#" class="text-white">Terms & Conditions</a></li>

        </ul>
      </div>

    </div>

    <hr>

    <div class="text-center">
      © 2026 MyStore. All Rights Reserved.
    </div>

  </div>

</footer>