<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow-sm">

  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand fw-bold fs-4" routerLink="/">
      MyStore
    </a>

    <!-- Mobile Toggle -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav">

      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <!-- Menu -->
      <ul class="navbar-nav mx-auto">

        <li class="nav-item">
          <a class="nav-link active" routerLink="/">
            Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/shop">
            Shop
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/categories">
            Categories
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/brands">
            Brands
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link" routerLink="/services">
            Service
          </a>
        </li>

      </ul>

      <!-- Search -->
      <form class="d-flex me-3">

        <input
          class="form-control"
          type="search"
          placeholder="Search products...">

      </form>

      <!-- Wishlist -->
      <button
        class="btn btn-outline-light position-relative me-2"
        routerLink="/wishlist">

        <i class="bi bi-heart"></i>

        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">

          {{ wishlistCount$ | async }}

        </span>

      </button>

      <!-- Cart -->
      <button
        class="btn btn-warning position-relative me-3"
        routerLink="/cart">

        <i class="bi bi-cart3"></i>

        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">

          {{ cartCount$ | async }}

        </span>

      </button>

      <!-- If User Not Logged In -->
   <div *ngIf="!isLoggedIn">

  <button
    class="btn btn-outline-light me-2"
    data-bs-toggle="modal"
    data-bs-target="#loginModal">

    Login

  </button>

  <button
    class="btn btn-outline-light me-2"
    data-bs-toggle="modal"
    data-bs-target="#registerModal">

    Register

  </button>

</div>

      <!-- Profile Dropdown -->
   <div
  class="dropdown"
  *ngIf="isLoggedIn">

  <button
  class="btn btn-light dropdown-toggle"
  type="button"
  data-bs-toggle="dropdown"
  aria-expanded="false">

  <i class="bi bi-person-circle me-1"></i>

  {{ (user$ | async)?.name }}

</button>
  <ul class="dropdown-menu dropdown-menu-end">

    <li>
      <button (click)="myBooking()" class="dropdown-item">
        My Account
      </button>
    </li>

    <li>
      <button
        class="dropdown-item text-danger"
        (click)="logout()">
        Logout
      </button>
    </li>

  </ul>

</div>

    </div>

  </div>

</nav>




<div
  class="modal fade"
  id="loginModal"
  tabindex="-1">

  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">

        <h5 class="modal-title">
          Login
        </h5>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal">
        </button>

      </div>

      <div class="modal-body">

        <form
          [formGroup]="loginForm"
          (ngSubmit)="onLogin()">

          <!-- EMAIL -->

          <div class="mb-3">

            <input
              type="email"
              class="form-control"
              placeholder="Email"
              formControlName="email">

            <small
              class="text-danger"
              *ngIf="
                l['email'].touched &&
                l['email'].invalid">

              Valid email required

            </small>

          </div>

          <!-- PASSWORD -->

          <div class="mb-3">

            <div class="input-group">

              <input
                [type]="showPassword ? 'text' : 'password'"
                class="form-control"
                placeholder="Password"
                formControlName="password">

            </div>

            <small
              class="text-danger"
              *ngIf="
                l['password'].touched &&
                l['password'].invalid
              ">

              Password minimum 6 characters

            </small>

          </div>

          <!-- REMEMBER -->

          <div class="form-check mb-3">

            <input
              type="checkbox"
              class="form-check-input"
              formControlName="rememberMe">

            <label class="form-check-label">

              Remember Me

            </label>

          </div>

          <!-- SUBMIT BUTTON -->

          <app-submit-button-component
            [loading]="loading"
            text="Login">
          </app-submit-button-component>

        </form>

      </div>

    </div>

  </div>

</div>

<div
  class="modal fade"
  id="registerModal"
  tabindex="-1"
  aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content border-0 shadow-lg">

      <div class="modal-header">

        <h5 class="modal-title fw-bold">
          Create Account
        </h5>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal">
        </button>

      </div>

      <div class="modal-body">

        <form
          [formGroup]="registerForm"
          (ngSubmit)="onSubmit()">

          <!-- Name -->

          <div class="mb-3">

            <label class="form-label">
              Full Name
            </label>

            <input
              type="text"
              class="form-control"
              placeholder="Enter full name"
              formControlName="name">

            <small
              class="text-danger"
              *ngIf="f['name'].touched && f['name'].invalid">

              Name is required

            </small>

          </div>

          <!-- Email -->

          <div class="mb-3">

            <label class="form-label">
              Email
            </label>

            <input
              type="email"
              class="form-control"
              placeholder="Enter email"
              formControlName="email">

            <small
              class="text-danger"
              *ngIf="f['email'].touched && f['email'].invalid">

              Valid email required

            </small>

          </div>
            <!-- CONFIRM PASSWORD -->

             <div class="mb-3">
                <label class="form-label">
                  Password
                </label>

                  <input
                    [type]="showPassword ? 'text' : 'password'"
                    class="form-control"
                    placeholder="Password"
                    formControlName="password">


                   <div>
                    <small
                      class="text-danger"
                      *ngIf="
                        l['password'].touched &&
                        l['password'].invalid
                      ">

                      Password minimum 6 characters

                    </small>
                  </div>
                 </div>











            <div class="mb-3">

              <label class="form-label">
                Confirm Password
              </label>

              <input
                [type]="showConfirmPassword ? 'text' : 'password'"
                class="form-control"
                formControlName="confirmPassword">
              <div
                *ngIf="
                  registerForm.errors?.['passwordMismatch']
                "
                class="text-danger">

                Password does not match

              </div>

            </div>



        <!-- REMEMBER ME -->

        <div class="form-check mb-3">

          <input
            type="checkbox"
            class="form-check-input"
            formControlName="rememberMe">

          <label class="form-check-label">
            Remember Me
          </label>

        </div>
          <app-submit-button-component
              [loading]="loading"
              text="Register">
            </app-submit-button-component>
        </form>

      </div>

    </div>

  </div>

</div>
