<div class="d-flex">

  <!-- Sidebar -->
  <div class="bg-dark text-white p-3" style="width: 250px; height: 100vh;">
    <h4>Admin Panel</h4>

      <ul class="list-unstyled sidebar">
        <li><a routerLink="/admin/dashboard" class="text-white">Dashboard</a></li>
        <li *ngIf="permissionAuth.hasPermission('view_user')"><a routerLink="/admin/users" class="text-white">Users</a></li>
        <li *ngIf="permissionAuth.hasPermission('view_role')"><a routerLink="/admin/roles" class="text-white">Roles</a></li>
        <li *ngIf="permissionAuth.hasPermission('view_permission')"><a routerLink="/admin/permissions" class="text-white">Permissions</a></li>
        <li *ngIf="permissionAuth.hasPermission('view_category')"><a routerLink="/admin/categories" class="text-white">Categories</a></li>
        <li *ngIf="permissionAuth.hasPermission('view_SubCategory')"><a routerLink="/admin/subCategories" class="text-white">Sub Categories</a></li>
        </ul>
  </div>

  <!-- Main Content -->
  <div class="flex-grow-1">

    <!-- Header -->
    <nav class="navbar navbar-dark bg-primary px-3">
     <span class="navbar-text">
         Welcome, {{ user?.name }}
    </span>
     <button class="btn btn-danger" (click)="logout()" [disabled]="isLoggingOut">

        <span *ngIf="isLoggingOut" class="spinner-border spinner-border-sm me-2"></span>

         {{ isLoggingOut ? 'Logging out...' : 'Logout' }}

      </button>
    </nav>

    <!-- Page Content -->
    <div class="p-3">
      <router-outlet></router-outlet>
    </div>

    <!-- Footer -->
    <footer class="text-center p-2 bg-light">
      Footer © 2026
    </footer>

  </div>

</div>
