<app-form-wrapper-component [title]="isEdit ? 'Edit Permission' : 'Add Permission'">

<form [formGroup]="form" (ngSubmit)="savePermission()">

  <div class="mb-3">
    <label class="form-label">Group Name</label>
    <input type="text" class="form-control" formControlName="groupName">
  </div>
   <app-validation-error-component
      [control]="form.get('groupName')">
    </app-validation-error-component>


  <app-dynamic-input
    label="Permissions"
    [items]="permissionsArray.value"
    (itemsChange)="permissionsArray.clear(); $event.forEach(p => permissionsArray.push(fb.control(p)))"
    [showAddButton]="!isEdit">
  </app-dynamic-input>

   <app-validation-error-component
  [control]="permissionsArray.at(0)">
</app-validation-error-component>

  <div class="d-flex justify-content-between">
    <button type="button"
            class="btn btn-light"
            (click)="router.navigate(['/admin/permissions'])">
      Cancel
    </button>

     <app-submit-button-component
       type="submit"
       class="btn btn-primary"
      [loading]="loading"
      [text]="isEdit ? 'Update' : 'Save'">
     </app-submit-button-component>


  </div>

</form>
</app-form-wrapper-component>
