<div class="card shadow-lg border-0 mt-4" style="max-width: 500px; margin:auto;">
  <div class="card-body">

    <h4 class="mb-4 text-center fw-bold">
      {{ isEdit ? 'Edit Permission' : 'Add Permission' }}
    </h4>

    <form (ngSubmit)="savePermission()">

      <div class="mb-3">

        <label class="form-label">
          Group Name
        </label>

        <input
          type="text"
          class="form-control"
          [(ngModel)]="permission.groupName"
          name="groupName">

      </div>

      <app-dynamic-input
        label="Permissions"
        [(items)]="permission.permissions"
         [showAddButton]="!isEdit">
      </app-dynamic-input>


      <div class="d-flex justify-content-between">

        <button type="button"
                class="btn btn-light"
                (click)="router.navigate(['/admin/permissions'])">
          Cancel
        </button>

        <button type="submit" class="btn btn-primary shadow-sm">
          {{ isEdit ? 'Update' : 'Save' }}
        </button>

      </div>

    </form>

  </div>
</div>
