

<div class="topbar">

  <!-- LEFT -->
  <div class="topbar-left">

    <h3>
      Dashboard
    </h3>

  </div>

  <!-- RIGHT -->
  <div class="topbar-right">

    <!-- DARK MODE -->

    <button class="icon-btn"
            (click)="toggleDarkMode()">

      <i class="fa-solid"
         [ngClass]="darkMode ? 'fa-sun' : 'fa-moon'">
      </i>

    </button>

    <!-- NOTIFICATION -->

    <div class="notification-wrapper">

      <button class="icon-btn">

        <i class="fa-solid fa-bell"></i>

      </button>

      <span class="notification-badge">
        3
      </span>

    </div>

    <!-- PROFILE -->

    <div class="profile-dropdown">

      <div class="profile-btn"
           (click)="profileOpen = !profileOpen">

        <img src="https://i.pravatar.cc/40">

        <span>
          {{ user?.name }}
        </span>

      </div>

      <div class="profile-menu"
           *ngIf="profileOpen">

        <a href="#">
          Profile
        </a>

        <a href="#">
          Settings
        </a>

        <button (click)="logout()">

          Logout

        </button>

      </div>

    </div>

  </div>

</div>



