

<div class="container mt-4">
<div class="container mt-4">


  <div class="card shadow-lg border-0 rounded-4">

 <div class="bg-dark text-white rounded-4 p-4 mb-4">

  <div class="d-flex justify-content-between">

    <div>
      <h3 class="fw-bold">
        Booking #{{ booking?.id }}
      </h3>

      <p class="mb-0">
        {{ booking?.bookingDate }} • {{ booking?.bookingTime }}
      </p>
    </div>

    <div class="text-end">
      <h4>
        ₹{{ booking?.totalAmount }}
      </h4>

      <span class="badge bg-success">
        {{ booking?.bookingStatus }}
      </span>
    </div>

  </div>

</div>

    <div class="card-body">

      <div class="row">

        <div class="col-md-6">
          <p><strong>📅 Date:</strong> {{ booking.bookingDate }}</p>
          <p><strong>⏰ Time:</strong> {{ booking.bookingTime }}</p>
          <p><strong>🏠 Address:</strong> {{ booking.address }}</p>
        </div>

        <div class="col-md-6 text-end">
           <p><strong>Booking Status:</strong></p>
          <span class="badge bg-warning me-2">
            {{ booking.bookingStatus }}
          </span>

       <p><strong>Payment Status:</strong></p>
          <span class="badge bg-warning me-2">
            {{ booking.paymentStatus }}
          </span>
        </div>

      </div>

      <hr>

      <h5>💅 Services</h5>
    <div class="row mt-4">

   @if (booking?.services?.length) {
  @for (service of booking.services; track service.serviceId) {
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5>{{ service.serviceName }}</h5>
          <p>Price: ₹{{ service.price }}</p>
        </div>
      </div>
    </div>
  }
} @else {
  <p>No services found.</p>
}

    </div>

      <h5 class="text-end">
        💰 Total: ₹{{ booking.totalAmount }}
      </h5>

      <hr>

      <p><strong>📝 Notes:</strong> {{ booking.notes }}</p>

      <p><strong>💳 Payment Method:</strong> {{ booking.paymentMethod }}</p>

    </div>

  </div>

</div>
